*{
  margin: 0;
  padding: 0;
}
/* NavBar CSS */
.navBar {
  padding: 0;
}
.headdd
{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 300%;
  font-family:monospace;
  /* align-items: center; */
}
span {
  font-size: 50%;
  font-weight: 400;
  transform: rotate(-90deg);
  /* transform: translateX(20%) translateY(5%) rotate(-90deg); */
}

header {
  /* background-color: rgba(204, 186, 186, 0.808); */
  /* border: 10px solid grey; */
  /* border-radius: 5px; */
  color: #fff;
  width: 98.5vw;
  /* width: 60px; */
  margin-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

header li {
  display: flex;
  justify-content: space-around;
  transition: 0.5s;
}

header li a {
  color: rgb(10, 10, 10);
  transition: 0.3s;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

header li a:hover {
  color: yellowgreen;
  cursor: pointer;
}

.barIcon {
  font-size: 30px;
  background: none;
  color: rgb(8, 8, 8);
  display: none;
  border: none;
}

.container {
  width: 90vw;
  /* background-color: rgb(228, 219, 219); */
  padding: 20px ;
  /* border-bottom: 2px solid black; */
  /* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif */

}

.paddingsmall {
  padding: 20px 0;
}

.flex {
  font-size:40px ;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  justify-content: space-around;
}

.heading {
  text-align: center;
  width: 50vw;
  margin-right: 0px;
}

@media screen and (max-width:760px) {
  .navBar {
      width: 90vw;
      padding: 0;
  }

  header {
      width: 10vw;
  }

  .head .heading {
      display: none;
  }

  header .icon {
      display: none;
  }

  header .flex {
      display: none;
  }

  .barIcon {
      display: block;
  }

  header .navbar {
      position: absolute;
      background-color: transparent;
      right: 0;
      top: 77px !important;
      width: 50vw;
      height: 30vh;
      z-index: 5;
      line-height: 6px;
      padding: 2px;
      font-size: 15px;
      text-decoration: underline solid black;
      /* margin: 0; */

  }
  .container
  {
    width: 2px;
    padding: 5px;
    /* display: flex; */
  }

  header .navbar {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
  }

  header ul li {
      margin-bottom: 20px;
  }

  .heading {
      text-align: center;
      width: 50vw;
      margin-right: 0px;
  }

  h1 {
      margin-right: 0px;
  }
 
}

@media screen and (min-width:760px) and (max-width:800px) {
  header {
      /* background-color: rgba(0, 0, 0, 0.411); */
      color: #fff;
      width: 90vw;
  }
  .container {
      width: 100vw;
      /* background-color: black; */
      padding: 20px 0;
  }

  .navBar {
      width: 50vw;
      padding: 0;
  }
}

































































/* ..................Homepagecss....................... */
.TOPPOST {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 0px;

}
.title
{
  font-size: 25px;
  color: blue;
  /* padding-left: 20px; */
  /* padding-left: 30px; */
}
.AD{
  width: 250px;
  height: 400px;
  border: 5px solid black;
  background-color: gray;
}
.head {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  margin-right: 0;
  margin-top: 0;
  /* padding-right: 50px; */
  margin-bottom: 0;
  /* width: 50vw; */
  /* position: relative; */
  /* left: 2.8%; */
}
.siran{
  transform: rotate(-90deg);
  padding-bottom: 30px;
  /* padding: 30px; */
  padding-top: 30px;
  font-size: 40px;


}
.Hhead
{

  font-size: 30px;
  color: black;
  /* padding: 20px;
  padding-left: 70px; */
  padding:30px;
 /* width: 50px; */
  margin:0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
}

.front {
  width: 200px;
  height: 200px;
}

.thumbnail1 {
  width: 500px;
  height: 330px;
  margin-top: 50px;
}
.TOPLEFT {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* width: 150px; */
  height: 90%;
  /* padding-left:20%; */
}

.RIGHT {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  /* flex-grow: 1; */
  gap: 1%;

}
 .LEFTIMG
{
  padding-left:10px;
  /* margin-left: 10px; */
  width: 750px;
  height: 600px;
  border-radius: 20px;

}

.RIGHTIMG {
  border-radius: 20px;
  width: 450px;
  height: 250px;
  /* position: absolute;
  top: 440px;
  left: 800px; */
 
}

.RIGHTIMG1 {
  border-radius: 20px;
  width: 450px;
  height: 250px;
  /* position: absolute;
  top: 750px;
  left: 800px; */

}
.para1 {
  position: relative;
  bottom: 150px;
  left: 10px;
  padding: 10px;
  margin: 0;
  color: rgb(166, 198, 38);
  font-size: large;
  width: 400px;

}

.para2 {
  position: relative;
  bottom: 70px;
  left: 80px;
  padding: 10px;
  color: rgb(166, 198, 38);
  font-size: 20px;
  font-weight: 500;
  width: 300px;
}

.para3 {
  position: relative;
  top: -250px;
  /* bottom: 0.1px; */
  right: 5px;
  padding: 10px;
  margin: 0;
  color: rgb(166, 198, 38);
  /* font-size: bold; */
  /* font-weight: 100; */
  font-size: 15px;
  font-weight: bold;
  width: 100px;
}
a
{
  text-decoration: none;
}
/* img
{
  display: flex;
  justify-content: center;
  align-items: center;
} */



.para1:hover,
.para2:hover,
.para3:hover {
  color: rgb(229, 255, 0);
}


/* .............................TheLatest.................................. */
.thelatest {
  /* width: 100vw; */
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* padding-top: 10px; */
  /* padding-left: -100px; */

  /* padding-left: 6%; */

}
.sk
{
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  /* align-items: center; */
  gap: 50px;
}
.main
{
  font-size: 40px;
  /* padding: 5%; */
  text-decoration: underline;
  /* padding-top: 0px;ss */
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.frontPP {
  padding: 10px;
}

.frontP {
  padding-right: 40px;
}

.hometop {
  display: flex;
  justify-content: space-around;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 0;
  padding-left: 20px;
  
}
.article
{
  padding: 15px;
}
.article1
{
  padding: 15px;
}
.Toppostheading {
  text-transform: capitalize;
  /* width: 100px; */
  padding: 20px;
  text-decoration: underline;
  font-size: 40px;
}

.newsheading
{
  display: flex;
  justify-content: space-around;
  align-items: center;
}



/* .LEFTIMG {
  border-radius: 20px;
} */
.middleI
{
  width: 650px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 28%;
  padding-top: 40px;
}
.containt {
  /* width: 400px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: rgb(121, 121, 243);

}
.middleI
{
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 34%;
}
/* h1.newshading
{
  font-size: 40px;
  color: red;
} */
.avtaar
{
  height: 90px;
}
.avtaar2
{
  height: 80px;
}
.date
{
  color: gray;
  width: 180px;
  display: flex;
  justify-content: space-between;
}
.nameN
{
  color: gray;
}
.avtaar1
{
  display: flex;
}
.avtaarflex
{
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: 30%;
  padding-top: 20px;
}
.namedate
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.reversed{
  display: flex;
  flex-direction: column-reverse;
}















@media screen and (min-width:350px) and (max-width:760px) {

  *
  {
    padding: 0px;
    margin: 0px;
  }
.TOPPOST {
  display: flex;
  /* padding:10px; */

}

.heading
{
  font-size: 30px;
  padding: 20px;
}

.LEFTIMG
{
  /* padding-right: 150px; */
  /* margin-left: 10px; */
  width: 400px;
  height: 600px;
  border-radius: 10px;

}
.head {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.siran{
  transform: rotate(-90deg);
  padding-bottom: 70px;
  padding-top: 2px;
  font-size: 30px;


}
.fa
{
  padding-left: 60px;
  padding-top: 18px;
}
.row
{
  display: flex;
  justify-content: space-evenly;

  /* border-bottom:2px solid white; */
}
  .RIGHT {
    display: none;
  }

  .thelatest {
    display: flex;
    flex-direction: column;
    /* padding-left: 20px; */
    /* margin: 0; */
    /* width: 40vw; */
  }

  .AD {
    display: none;
    margin-top: 20px;
  }

  .ATop {
    display: flex;
    flex-direction: column;
    /* width: 200px ; */
    /* padding: 50px; */
  }

  .topHome {
    text-align: center;
  }

  .LEFTIMG {
    /* margin-left: 10px; */
    width: 300px;
    height: 300px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .para1 {
    width: 200px;
    position: absolute;
    /* right:  100px; */
    top: 350px;
    left: 30%;
    

  }

  .TOPLEFT {
    width: 300px;
    height: 300px;
    /* margin-right: 70px; */
  }

  .frontPP {
    width: 300px;
    /* height: 40vh; */
    /* padding-left: 60px; */
    /* padding: 10px; */
  }
  .title
  {
    width: 70vw;
    padding-left: 10px;
    /* margin: 0px; */
    /* width: 380px; */
    /* padding-left: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }

  .frontP {
    width: 40vw;
    padding: 0px;
    /* padding-left: 10%; */
  }

  .containt {
    /* width: 400px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 20px; */

  }

  .sectionTop {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  .sectionTop1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: column;
  }

  .hometop {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .single {
    display: none;
  }

  .section {
    width: 60vw;
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* width: 20vh; */
  }

  .BOXAR {
    width: 200px;
  }

  /* .LEFTIMG {
    /* margin-left: 40px; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* width: 300px; */
    /* height: 300px; */
    /* border-radius: 20px; */
  /* } */ 
  .LArticale
  {
    /* display: flex; */
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* padding-left: 20%; */
    /* width: 100vw; */
  }
  .front {
    width: 300px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-right: 50px; */
    /* padding-left: 40px; */
    border-radius: 10px;
  }
  .header
  {
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  .content
  {
    width: 250px;
    /* padding-left: 50px; */
  }
/* .article{
  display: flex;
  justify-content: center;
  align-items: center;
  
} */
.main
{
  padding: 10px;
}
.middleI
{
  width: 300px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
}
.newsheading
{
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.avtaar
{
  height: 50px;
  width: 50px;
}
.avtaar2
{
  height: 50px;
  padding-right: 40px;
}
.date
{
  color: gray;
  width: 120px;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  /* padding-left: 10px; */
}
.nameN
{
  color: black;
  font-weight: bold;
  font-size: 20px;
}
.avtaar1
{
  display: flex;
}
.avtaarflex
{
  width: 300px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: -20px;
  padding-top: 20px;
}
.namedate
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

}

@media screen and (min-width:760px) and (max-width:800px) {

  .thelatest
  {
    font-size: 10px;
    /* padding-left: 10px; */
  }
  
  .LEFTIMG
  {
    padding-left:20px;
    /* margin-left: 10px; */
    width: 550px;
    height: 300px;
    border-radius: 20px;

  }
  .para1 {
    
    position: absolute;
    /* right:  200px; */
    top: 400px;
    left: 110px;
    font-size: 15px;
    

  }
  .TOPPOST
  {
    padding-left: 0px;
    /* width: 300px; */
  }
  
  .Toppostheading {
    text-transform: capitalize;
    width: 30px;
    /* padding: 20px; */
  }

  .ATop {
    display: flex;
    flex-direction: column;
    width: 250px;
    /* padding-left: 3px; */

  }

  .BOXAR {
    width: 500px;
  }

  .section {
    width: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    margin-right: 0;
    padding-left: 50px;
  }

  .RIGHT {
    display: none;
  }

  .article {

    display: flex;
    flex-direction: column;
  }

  .frontP {
    width: 30vw;
    padding: 10px;
  }

  .LArticale {
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .thumbnail1 {
    width: 45vw;
    height: 330px;
    margin-top: 50px;
  }

  .frontPP {
    width: 25vw;
    padding: 10px;
  }

  .AD {
    border-style: solid;
    border-color: black;
    width: 200px;
    height: 400px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hometop {
    display: flex;
    justify-content: space-evenly;
  }

  ul {
    padding: 0;
  }
  .navBar
  {
    padding-left: 190px;
    /* font-size: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .title
  {
    width: 250px;
    /* padding: 0px; */
    /* margin: 0px; */
    /* width: 380px; */
    padding-right: 155px;
    font-size: 15px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* font-size: 60px; */
  }
  .flex
  {
    font-size: 20px;
  }
  .front
  {
    display: flex;
    padding-left:50px ;
  }
  .content
  {
    display: flex;
    padding-left:50px ;
    font-size: 10px;
  }
  .sk
  {
    padding: 0%;
  }
  .middleI
{
  width: 300px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30%;
}
.newsheading
{
  display: flex;
  justify-content: space-around;
  align-items: center;
}



.avtaar
{
  height: 40px;
}
.avtaar2
{
  height: 40px;
}
.date
{
  color: gray;
  width: 120px;
  font-size: x-small;
  display: flex;
  justify-content: space-between;
}
.nameN
{
  color: gray;
  font-size: x-small;
}
.avtaar1
{
  display: flex;
}
.avtaarflex
{
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: 30%;
  padding-top: 20px;
}
.namedate
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
}















































































/* normal css */
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
